<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lemon shop</title>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Hind:wght@400;700&family=Roboto:wght@400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../../styles/ipad.css">
  <script src="https://kit.fontawesome.com/134ef9477a.js" crossorigin="anonymous"></script>
</head>
<body>
  <header>
    <div class="logo-container">
      <i class="fas fa-lemon"></i>
    </div>
    <nav>
      <ul>
        <li>
          <a href="../homepage/homepage.html">Home</a>
        </li>
      </ul>
    </nav>
  </header>
  <main>
    <section class="product">
      <div class="product-image-container">
        <img src="../../assets/images/ipad_buy_view.jpg" alt="A hand holding a Ipad">
      </div>
      <div class="product-description-container">
        <h2>IPad</h2>
        <div class="product-description">
          <div class="product-description-title">
            <h5>Camera</h5>
          </div>
          <div class="product-description-text">
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolores amet soluta autem dolorem voluptatum ex ipsa in, veniam, fugiat vitae tempora commodi quia maxime non ea, aspernatur vero nisi qui?</p>
          </div>
        </div>
        <div class="product-description">
          <div class="product-description-title">
            <h5>Display</h5>
          </div>
          <div class="product-description-text">
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolores amet soluta autem dolorem voluptatum ex ipsa in, veniam, fugiat vitae tempora commodi quia maxime non ea, aspernatur vero nisi qui?</p>
          </div>
        </div>
        <div class="product-description">
          <div class="product-description-title">
            <h5>Chip</h5>
          </div>
          <div class="product-description-text">
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolores amet soluta autem dolorem voluptatum ex ipsa in, veniam, fugiat vitae tempora commodi quia maxime non ea, aspernatur vero nisi qui?</p>
          </div>
        </div>
        <div class="product-description">
          <div class="product-price">
            <h4>$2.000</h4>
          </div>
          <div class="buy-button">
            <button>BUY</button>
          </div>
        </div>
      </div>
    </section>
  </main>
  <footer>
    <div class="footer-top">
      <div class="contact-info">
        <ul>
          <li>Calle 10 # 10 - 10 Bogotá D.C.</li>
          <li>Cel. 3214567890</li>
          <li>lemonshop@lemon.com</li>
        </ul>
      </div>
      <div class="contact-button">
        <button>Contact Us</button>
      </div>
    </div>
    <div class="footer-bottom">
      <div class="legal-copyright">
        <p>© 2021 LEMON SHOP</p>
      </div>
      <div class="social-media">
        <i class="fab fa-facebook-f"></i>
        <i class="fab fa-linkedin-in"></i>
        <i class="fab fa-twitter"></i>
        <i class="fab fa-youtube"></i>
        <i class="fab fa-instagram"></i>
      </div>
    </div>
  </footer>
</body>
</html>