<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lemon shop</title>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Hind:wght@400;700&family=Roboto:wght@400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../../styles/homepage.css">
  <script src="https://kit.fontawesome.com/134ef9477a.js" crossorigin="anonymous"></script>
</head>
<body>
  <header>
    <div class="logo-container">
      <i class="fas fa-lemon"></i>
    </div>
    <nav>
      <ul>
        <li>
          <a href="#products">Products</a>
        </li>
        <li>
          <a href="#about">About us</a>
        </li>
      </ul>
    </nav>
  </header>
</body>
</html>