<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lemon shop</title>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Hind:wght@400;700&family=Roboto:wght@400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../../styles/homepage.css">
  <script src="https://kit.fontawesome.com/134ef9477a.js" crossorigin="anonymous"></script>
</head>
<body>
  <header>
    <div class="logo-container">
      <i class="fas fa-lemon"></i>
    </div>
    <nav>
      <ul>
        <li>
          <a href="#products">Products</a>
        </li>
        <li>
          <a href="#about">About us</a>
        </li>
      </ul>
    </nav>
  </header>
  <main>
    <section class="hero">
      <img src="../../assets/images/macbookpro_hero_homepage_view.jpg" alt="A MacBook Pro on bed">
      <h1>LEMON SHOP</h1>
    </section>
    <section class="products" id="products">
      <h2>PRODUCTS</h2>
      <div class="products-container">
        <div class="product-container card-container">
          <img src="../../assets/images/ipad_homepage_view.jpg" alt="A hand holding a IPad">
          <div class="card-description-container hide-element">
            <h2>IPad</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur commodi consequuntur aliquid accusamus iste vel quam dignissimos, totam iusto debitis, molestias voluptatibus inventore illum aspernatur odit maxime, numquam eum voluptate. Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed, labore deleniti a delectus, itaque ipsum laborum magnam autem repudiandae doloribus blanditiis, voluptatibus reprehenderit. Autem quam suscipit in amet nesciunt quae.</p>
            <a href="../buy/ipad.html">BUY</a>
          </div>
        </div>
        <div class="product-container card-container">
          <img src="../../assets/images/watch_homepage_view.jpg" alt="A apple watch on MacBook">
          <div class="card-description-container hide-element">
            <h2>Watch</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur commodi consequuntur aliquid accusamus iste vel quam dignissimos, totam iusto debitis, molestias voluptatibus inventore illum aspernatur odit maxime, numquam eum voluptate. Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed, labore deleniti a delectus, itaque ipsum laborum magnam autem repudiandae doloribus blanditiis, voluptatibus reprehenderit. Autem quam suscipit in amet nesciunt quae.</p>
            <a href="../buy/watch.html">BUY</a>
          </div>
        </div>
        <div class="product-container card-container">
          <img src="../../assets/images/iphone_homepage_view.jpg" alt="A Iphone next to MacBook">
          <div class="card-description-container hide-element">
            <h2>IPhone</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur commodi consequuntur aliquid accusamus iste vel quam dignissimos, totam iusto debitis, molestias voluptatibus inventore illum aspernatur odit maxime, numquam eum voluptate. Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed, labore deleniti a delectus, itaque ipsum laborum magnam autem repudiandae doloribus blanditiis, voluptatibus reprehenderit. Autem quam suscipit in amet nesciunt quae.</p>
            <a href="../buy/iphone.html">BUY</a>
          </div>
        </div>
        <div class="product-container card-container">
          <img src="../../assets/images/macbookpro_homepage_view.jpg" alt="A MacBook Pro on white table">
          <div class="card-description-container hide-element">
            <h2>MacBook Pro</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur commodi consequuntur aliquid accusamus iste vel quam dignissimos, totam iusto debitis, molestias voluptatibus inventore illum aspernatur odit maxime, numquam eum voluptate. Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed, labore deleniti a delectus, itaque ipsum laborum magnam autem repudiandae doloribus blanditiis, voluptatibus reprehenderit. Autem quam suscipit in amet nesciunt quae.</p>
            <a href="../buy/macbookpro.html">BUY</a>
          </div>
        </div>
      </div>
    </section>
    <section class="about" id="about">
      <h2>ABOUT US</h2>
      <div class="card-container about-container">
        <img src="../../assets/images/applestore_homepage_view.jpg" alt="Apple logo in a window">
        <div class="card-description-container hide-element">
          <h2>This is Lemon Shop</h2>
          <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.</p>
        </div>
      </div>
    </section>
  </main>
  <footer>
    <div class="footer-top">
      <div class="contact-info">
        <ul>
          <li>Calle 10 # 10 - 10 Bogotá D.C.</li>
          <li>Cel. 3214567890</li>
          <li>lemonshop@lemon.com</li>
        </ul>
      </div>
      <div class="contact-button">
        <button>Contact Us</button>
      </div>
    </div>
    <div class="footer-bottom">
      <div class="legal-copyright">
        <p>© 2021 LEMON SHOP</p>
      </div>
      <div class="social-media">
        <i class="fab fa-facebook-f"></i>
        <i class="fab fa-linkedin-in"></i>
        <i class="fab fa-twitter"></i>
        <i class="fab fa-youtube"></i>
        <i class="fab fa-instagram"></i>
      </div>
    </div>
  </footer>
  <script src="../../js/homepage.js"></script>
</body>
</html>