body {
  margin: 0;
  padding: 0;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

a {
  color: #E7EBEB;
  display: inline;
  text-decoration: none;
}

header {
  width: 100%;
  height: 50px;
  display: grid;
}

nav {
  background-color: #171717;
  display:grid;
  grid-template-columns: 1fr 1fr;
  height: 50px;
}

nav .nav-logo-container {
  margin-left: 60px;
}

nav .shop-link {
  display: flex;
  align-items: center;
  justify-content:flex-end;
  margin-right: 60px;
}