body {
  bottom: 0;
  left: 0;
  margin: 0;
  padding: 0;
  position: fixed;
  right: 0;
  top: 0;
}

a {
  color: #E7EBEB;
  display: inline;
  text-decoration: none;
}

header {
  display: grid;
  height: 50px;
  /* grid-template-rows: 1fr 1fr; */
  width: 100%;
}

nav {
  background-color: #171717;
  display:grid;
  grid-template-columns: 1fr 1fr;
  height: 50px;
}

nav .nav-logo-container {
  align-items: center;
  display: flex;
  justify-content:flex-start;
  margin-left: 60px;
}

nav .shop-link {
  align-items: center;
  display: flex;
  justify-content:flex-end;
  margin-right: 60px;
}