/* Titles -> font-family: 'Hind', sans-serif; */
/* Texts -> font-family: 'Roboto', sans-serif; */

:root {
  --white-color: #e7ebeb;
  --black-color: #171717;
  --grey-color: #a3a4c0;
  --green-color: #06506b;
  --blue-color: #0047ab;
  --hero-title-size: 9.6rem;
  --title-size: 7.2rem;
  --subtitle-size: 1.8rem;
  --text-size: 1.4rem;
  --big-button-text-size: 4.8rem;
  --button-text-size: 2.4rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
}
