/* Titles -> font-family: 'Hind', sans-serif; */
/* Texts -> font-family: 'Roboto', sans-serif; */

:root {
  --white-color: #e7ebeb;
  --black-color: #171717;
  --grey-color: #a3a4c0;
  --green-color: #06506b;
  --blue-color: #0047ab;
  --hero-title-size: 9.6rem;
  --title-size: 7.2rem;
  --subtitle-size: 1.8rem;
  --text-size: 1.4rem;
  --big-button-text-size: 4.8rem;
  --button-text-size: 2.4rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

button {
  border-style: none;
  outline: none;
  cursor: pointer;
}

h2 {
  font-size: var(--title-size);
  font-family: "Hind", sans-serif;
  color: var(--black-color);
  text-align: center;
  padding: 10px 0;
}

/* Header style */

header {
  height: 50px;
  background-color: var(--black-color);
  padding: 0 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-container {
  font-size: 3rem;
  color: var(--white-color);
}

nav ul {
  list-style: none;
  display: flex;
}

nav li {
  padding-left: 50px;
}

nav a {
  color: var(--white-color);
  font-size: var(--subtitle-size);
}

/* Footer style */

footer {
  background-color: var(--black-color);
  padding: 0 100px;
  bottom: 0;
  left: 0;
  right: 0;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border-bottom: 2px solid var(--white-color);
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.contact-info li {
  color: var(--white-color);
  font-size: var(--text-size);
  margin-bottom: 5px;
}

.contact-button button {
  border-style: none;
  outline: none;
  cursor: pointer;
  background-color: var(--blue-color);
  color: var(--white-color);
  font-size: var(--text-size);
  width: 150px;
  height: 32px;
  border-radius: 20px;
}

.legal-copyright p {
  color: var(--white-color);
  font-size: var(--text-size);
}

.social-media {
  color: var(--white-color);
  font-size: 1.6rem;
  width: 150px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
